body {
    background-color: black;
    padding: 0px;
}

input ~ label {
    border-radius: 4px;
}

li.p-unselectable-text {
    flex: 1;
}

.p-tabview-title {
    margin: auto !important;
}

.hata {
    color: var(--red-500);
}

.p-dropdown-panel {
    max-width: 80vw !important;
}

.p-dropdown-item {
    text-overflow: ellipsis !important;
}

.p-dialog {
    max-width: 90vw !important;
}
